@{
    ViewData["Title"] = "Math controller";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MATH</h1>
    
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      Add
    </div>
    <div class="col-sm">
      <input type="number" id="add_number1"/>
      +
      <input type="number" id="add_number2" />
    </div>
    <div class="col-sm">
      <button id="add_calculate">Calculate</button>
      =
      <input type="text" disabled="disabled" id="add_result"/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      Minus
    </div>
    <div class="col-sm">
      <input type="number" id="minus_number" />
      -
      <input type="number" id="minus_with" />
    </div>
    <div class="col-sm">
      <button id="minus_calculate">Calculate</button>  
      =
      <input type="text" disabled="disabled" id="minus_result" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      Multiply
    </div>
    <div class="col-sm">
      <input type="number" id="multiply_number1" />
      *
      <input type="number" id="multiply_number2" />
    </div>
    <div class="col-sm">
      <button id="multiply_calculate">Calculate</button>
      =
      <input type="text" disabled="disabled" id="multiply_result" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      Divide
    </div>
    <div class="col-sm">
      <input type="number" id="divide_number1" />
      /
      <input type="number" id="divide_number2" />
    </div>
    <div class="col-sm">
      <button id="divide_calculate">Calculate</button>
        =
      <input type="text" disabled="disabled" id="divide_result"/>
    </div>
  </div>
</div>